.landing-wrapper {
  margin: ($base-size * 2) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

//landing-nav
.landing-nav {
  display: flex;
  flex-direction: column;
  margin-top: -18px;

  .row {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    a {
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
      transition: 1s ease;
      flex: 49.7% 0 0;
    }

    a:hover .content {
      opacity: 1;
    }

    a:hover .hidden {
      transform: translateY(-30px);
    }

    a:hover .box-title {
      transform: translateY(-30%);
    }

    .content {
      opacity: 0;
      position: absolute;
      background-color: transparent;
      transition: all 1s ease-out;
      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    .side {
      width: 100%;
      display: flex;
      position: relative;
    }

    .box {
      flex: 100% 0 0;
      text-align: center;
      height: 120px;
      background-color: $color-main;
      color: #fff;
      border-radius: 2%;
      background-size: cover;
    }

    .picture1 {
      background-image: url("../../images/assets/pizza-1.jpg");
    }

    .picture2 {
      background-image: url("../../images/assets/pizza-2.jpg");
    }

    .box-title {
      margin: auto;
      transition: all 0.5s ease;
    }

    .hidden {
      margin-top: auto;
      transition: all 0.5s ease;
    }
  }
}

// Carousel
.carousel {
  margin: 86px auto;

  .glide__slide {
    display: flex;

    .slide-img {
      flex: 1 0 0;
      max-width: 33%;
      float: left;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2%;
      }
    }

    .slide-description {
      flex: 2 0 0;
      padding: 0 20px;
    }
  }

  .glide__bullets {
    padding-top: 20px;
    bottom: auto;

    .glide__bullet {
      margin-left: 10px;
      background-color: grey;

      &:hover {
        background-color: black;
        border-color: black;
      }
    }
  }
}

// Gallery
.gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 100% 0 0;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;

  .three-in-row {
    position: relative;
    float: left;
    width: 33%;
    height: 195px;

    .img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      transition: 1s ease;
      background-color: #262626;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.overlay .icons {
  margin: auto;

  i {
    margin: 0 10px;
    font-size: 20px;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      color: $color-main;
    }
  }
}

// Footer
.footer {
  a {
    text-decoration: underline;
    color: $color-main;
  }
}
